<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2" >
  <test thread-count="5" name="AddRemoveItemBasketTest">
    <classes>
      <class name="uk.co.automationtesting.AddRemoveItemBasketE2ETest"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="OrderCompleteTest">
    <classes>
      <class name="uk.co.automationtesting.OrderCompleteE2ETest"/>
    </classes>
  </test> <!-- Test -->
      <test thread-count="5" name="ShopLoginTest">
    <classes>
      <class name="uk.co.automationtesting.ShopLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
